.form-builder-sidebar {
	&.form-builder-sidebar.sidenav-menu-slider {
		z-index: 10;
		max-width: 380px;
		opacity: 0;
		transition-timing-function: ease-out;

		&.closed {
			z-index: 9;
		}

		&.open {
			width: 100%;
			opacity: 1;
		}
	}

	.sidebar-header {
		margin-top: 72px;
	}

	.sidebar-body {
		padding: 0;
	}

	.navbar-nav {
		border-bottom-width: 0;

		a {
			text-transform: capitalize;

			&:hover {
				border-bottom-color: transparent;
			}
		}

		li {
			font-size: initial;
		}
	}

	.navbar-default {
		padding-bottom: 1px;
	}

	.tab-pane {
		bottom: 0;
		overflow: auto;
		padding: 24px;
		position: absolute;
		top: 221px;
		width: 100%;
	}

	.navbar-default .navbar-nav > li > a {
		padding: 10px 16px;
	}

	.lexicon-icon-angle-right {
		color: #6b6c7e;
	}
}